@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Montserrat-Regular.ttf") format("ttf");
}

@font-face {
  font-family: 'MontserratAlternates';
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/MontserratAlternates-Light.woff") format("woff");
}


@font-face {
  font-family: 'MontserratAlternates';
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/MontserratAlternates-Regular.woff") format("woff");
}

@font-face {
  font-family: 'MontserratAlternates';
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/MontserratAlternates-Medium.woff") format("woff");
}

@font-face {
  font-family: 'MontserratAlternates';
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/MontserratAlternates-SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'MontserratAlternates';
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/MontserratAlternates-Bold.woff") format("woff");
}
