@use './variables' as *;

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 20px;
}
a {
  transition: color 0.3s ease-in;
}
// Sections

header {
  .start-info-block {
    position: relative;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 30px;
    padding-bottom: 16px;
    margin-bottom: 16px;

    &:after {
      content: '';
      left: 0;
      right: 0;
      height: 16px;
      bottom: 0;
      position: absolute;
      background: url('../assets/icons/decoration1.svg') no-repeat center center/contain;
    }
  }
  .subtitle {
    font-size: 32px;
  }
}

.banner-block {
  margin-top: 12px;
  overflow: hidden;
  .banner-title {
    font-size: 48px;
    font-weight: 500;
  }
  .banner-subtitle {
    margin-top: 32px;
    padding: 4px;
    font-size: 32px;
    font-weight: 300;
    background: $pink400;
    position: relative;
    max-width: 900px;

    .decoration {
      width: 2px;
      top: -4px;
      bottom: -4px;
      display: inline-block;
      position: absolute;
      background: $purple500;

      &:before,
      &:after {
        content: '';
        width: 4px;
        height: 4px;
        position: absolute;
        background: $pink800;
      }
      &:after {
        bottom: 0;
        left: -1px;
      }
      &:before {
        top: 0;
        right: -1px;
      }
      &.decoration-front {
        left: 0;
      }
      &.decoration-back {
        right: 0;
      }
    }
  }
  .content-wrapper {
    flex-wrap: unset;

    .description {
      font-size: 24px;
      max-width: 752px;
      margin-bottom: 44px;
    }

    .images-block {
      display: flex;
      position: relative;
      align-items: flex-end;
      .secondary-image-container {
        margin-right: -5%;
        z-index: 0;
      }
    }
  }
}

.join-us,
.join-us-adds {
  margin-top: 100px;
  .join-us-actions {
    display: flex;
    justify-content: center;
    margin-top: 64px;
  }
}

.course-for {
  margin-top: 100px;
  .block-photo {
    .photo {
      max-width: 488px;
      height: 608px;
      border-radius: 32px;

      background: url('../assets/images/course-for-image.png') no-repeat center center/contain;
    }
    .reason-item-adds {
      margin: 32px auto 0;
      max-width: 352px;
      text-align: center;
      .text {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          width: 336px;
          height: 32px;
          left: 27px;
          top: 10px;
          background: $pink400;
          z-index: -1;
        }
        &:after {
          content: '';
          position: absolute;
          top: 14px;
          left: -90px;
          width: 92px;
          height: 14px;
          background: url('../assets/icons/connection-decor-3.svg') no-repeat center center/contain;
        }
      }
    }
  }
}

.about-me {
  margin-top: 100px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    background: $pink400;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 64px;
  }
  &:after {
    content: '';
    position: absolute;
    display: block;
    right: 0;
    top: 4px;
    width: 436px;
    height: 386px;
    z-index: -1;
    background: url('../assets/images/flowers.png') no-repeat center center/contain;
  }
  .info-block-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 500;
    padding-left: 21px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 12px;
      left: 0;
      top: -4px;
      bottom: -4px;
      background: url('../assets/icons/decoration-vertical-icon.svg') no-repeat center
        center/contain;
    }
  }
  .info-list {
    display: flex;
    flex-direction: column;
    gap: 24px 32px;
    margin-top: 32px;
    .list-item {
      display: flex;
      gap: 12px;
      align-items: center;
      position: relative;
      font-family: 'Montserrat', sans-serif;
      .icon {
        display: inline-block;
        width: 44px;
        height: 44px;
        background: url('../assets/icons/checkbox-icon.svg') no-repeat center center/contain;
        flex-shrink: 0;
      }
    }
  }
  .chips-list {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .join-us-actions {
    margin-top: 54px;
    padding-bottom: 100px;
  }
  .photo-first {
    max-width: 386px;
    height: 364px;
    background: url('../assets/images/about-me-1.png') no-repeat center center/contain;
  }
  .photo-second {
    max-width: 272px;
    height: 258px;
    transform: translate(184px, -74px);
    background: url('../assets/images/about-me-2.png') no-repeat center center/contain;
  }
  .photo-third {
    max-width: 198px;
    height: 186px;
    background: url('../assets/images/about-me-3.png') no-repeat center center/contain;
    margin: -200px 0 0px 32px;
    position: relative;
  }
  .photos-wrapper {
    overflow: hidden;
  }
}

.more-info {
  margin-top: 100px;
  .content-block {
    flex: 1;
    &.image {
      padding: 20px;
    }
  }
  .decorated-image {
    max-width: 488px;
    width: 100%;
    height: 640px;
    background: url('../assets/images/add-info-photo.png') no-repeat top center/cover;
    border-radius: 32px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: -20px;
      width: 14px;
      height: 94px;
      background: url('../assets/icons/decoration-top-to-bottom.svg') no-repeat top center/cover;
    }
    &:before {
      content: '';
      position: absolute;
      top: -24px;
      left: 0;
      width: 94px;
      height: 20px;
      background: url('../assets/icons/decoration-left-to-right.svg') no-repeat top center/cover;
    }
  }
}

.course-includes {
  margin-top: 100px;
  .wrapper {
    display: flex;
    flex-direction: row;
    gap: 0 30px;
    &.first-block {
      margin-top: 64px;
    }
    &.second-block {
      justify-content: center;
      .view-item {
        max-width: 280px;
        width: 100%;
      }
    }
    & + .wrapper {
      margin-top: 28px;
    }
  }
  .view-item {
    display: flex;
    align-items: center;
    &.large {
      height: 160px;
      flex: 1;
    }
    .description {
      max-width: 340px;
      padding-top: unset;
    }
    &.view-item {
      margin-top: unset;
      &:nth-child(odd),
      &:nth-child(even) {
        margin: unset;
      }
    }
  }
}

.course-program {
  margin-top: 100px;
  .program-list {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px 32px;
    padding: 0 14px 32px;
  }
  .extended-items-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px 32px;
    padding: 32px 24px;
    background: radial-gradient(59.74% 127.94% at 39.18% 40.26%, #ffffff 31.81%, #ffc6de 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

    border-radius: 24px;
    box-shadow: 0 0 12px 0 #ff7e9f29;
  }
  .program {
    flex: 1;
    font-family: 'Montserrat', sans-serif;
    border-radius: 32px;
    &.program-extended {
      background: $pink400;
    }
    .list-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 24px 32px;
      .step {
        font-size: 64px;
        font-weight: 700;
        color: $pink600;
      }
      .description {
        margin-bottom: 0;
      }
    }
  }
  .program-title {
    color: $white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 48px;
    border-radius: 32px;
    padding: 42px 132px;
    background: url('../assets/images/program-title-bg.png') no-repeat;
    background-size: cover;
    box-shadow: 0 0 16px 0 #d3d3d3c9;
    .inner-text {
      max-width: 320px;
      margin: 0 auto;
    }
  }
}

.results {
  margin-top: 80px;
  .content-wrapper {
    margin-top: 98px;
  }
  .info-block {
    max-width: 720px;
    margin: 0 auto;
  }
}

.join-us-adds {
  .info-block {
    max-width: 720ox;
    width: 100%;
    margin: 0 auto;
  }
}

.feedbacks {
  margin-top: 100px;
  .avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }
}

.questions-list {
  font-family: 'Montserrat', sans-serif;
  max-width: 696px;
  margin: 0 auto;
  .question {
    .question-title {
      font-size: 24px;
      font-weight: 500;
      padding: 12px 0;
      position: relative;
      border-bottom: 1px solid $black;
      &:before {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 32px;
        height: 32px;
        transform: translate(0, -50%);
        background: url('../assets/icons/plus-icon.svg') no-repeat center center/contain;
        cursor: pointer;
      }
      &.selected {
        &:before {
          background: url('../assets/icons/minus-icon.svg') no-repeat center center/contain;
        }
        & + .question-body {
          max-height: 180px;
        }
      }
    }
    .question-body {
      margin: 12px 0;
      font-size: 20px;
      white-space: pre-line;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out;
    }
  }
}

// UI elements

button {
  padding: 21px 0;
  width: 384px;
  text-align: center;
  position: relative;
  background: $purple400;
  border-radius: 48px;
  border: 0;
  font-size: 24px;
  transition: all 0.3s;
  &:hover {
    background:
      radial-gradient(94.79% 94.79% at 0% 21.83%, #e5d3e9 1.49%, #f974ab 84.26%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
      radial-gradient(
          40.23% 40.23% at 3.12% 20.95%,
          rgba(255, 255, 255, 0.32) 0%,
          rgba(249, 116, 171, 0.32) 100%
        )
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    color: $white;
  }
  .discount {
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(180deg, $pink700 0%, $pink650 100%);
    color: $white;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(50%, -50%) rotate(-14deg);
    font-weight: 500;
    font-size: 24px;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  gap: 24px 32px;
  margin-top: 64px;
  flex-wrap: wrap;
  .info-block {
    flex: 7;
  }

  .block-photo {
    flex: 5;
  }
}

.section-title {
  font-size: 64px;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 24px 32px;
  .title-text {
    position: relative;
    z-index: 2;
    &.regular {
      font-weight: 400;
    }
  }
  .title-decoration {
    width: 72px;
    height: 2px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 2;
      background: $black;
    }
    &:after {
      content: '';
      position: absolute;
      display: block;
      background: $purple500;
      height: 5px;
      width: 100%;
      top: -1px;

      z-index: 1;
    }
  }
  .first-part {
    position: relative;
    display: inline-block;
    &:before {
      content: '';
      position: absolute;
      width: 336px;
      height: 32px;
      left: 27px;
      top: 26px;
      background: $pink400;
      z-index: -1;
    }
  }
  .second-part {
    position: relative;
    display: inline-block;
    &:before {
      content: '';
      position: absolute;

      height: 32px;
      left: 70px;
      top: 26px;
      right: 32%;
      background: $pink400;
      z-index: -1;
    }
  }
  &.one-line {
    .first-part {
      &:before {
        left: -32px;
        top: 18px;
      }
    }
  }
}

.view-item {
  max-width: 508px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;

  .decor-element {
    content: '';
    position: absolute;
    top: 50px;
    width: 140px;
    height: 132px;
  }
  & + .view-item {
    margin-top: 72px;
  }
  &:nth-child(even) {
    margin-left: auto;
    .decor-element {
      left: -168px;
      background: url('../assets/icons/connection-decor-2.svg') no-repeat center center/contain;
    }
  }
  &:nth-child(odd) {
    margin-right: auto;
    .decor-element {
      right: -152px;
      background: url('../assets/icons/connection-decor-1.svg') no-repeat center center/contain;
    }
  }
  position: relative;
  height: 116px;
  .icon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    img {
      position: relative;
      z-index: 2;
    }
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $white;
      width: 104px;
      height: 18px;
      z-index: 1;
    }
  }
  .description {
    position: relative;
    z-index: 2;
    text-align: center;
    padding-top: 36px;
    max-width: 312px;
    margin: 0 auto;
    font-size: 20px;
  }
  &.xl {
    .description {
      max-width: 436px;
    }
  }
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    transform: translate(-14px, 10px);
    background: $pink400;
    border-radius: 32px;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    border: 1px solid $black;
    border-radius: 32px;
    top: 0;
    left: 0;
  }
}

.chips {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 7px 8px;
  .text {
    position: relative;
    z-index: 2;
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    transform: translate(-12px, 4px);
    background: $pink500;
    border-radius: 8px;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    border: 1px solid $black;
    border-radius: 8px;
    top: 0;
    left: 0;
  }
}

.pricing-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 12px;
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  .old-price {
    font-size: 32px;
    font-weight: 300;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: -4px;
      right: -2px;
      top: 50%;
      height: 1px;
      background: $black;
    }
  }
  .new-price {
    font-size: 48px;
    font-weight: 600;
    color: $pink700;
  }
}

.benefits {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: row;
  gap: 24px 32px;
  .benefit-item {
    padding: 24px 16px;
    flex: 1;
    text-align: left;

    border-radius: 32px;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      transform: translate(-8px, -16px);
      background: $pink400;
      border-radius: 32px;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      border: 1px solid $black;
      border-radius: 32px;
      top: 0;
      left: 0;
    }
  }
  .icon {
    position: relative;
    z-index: 2;
    width: 65px;
    height: 71px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .title {
    font-size: 24px;
    margin-top: 12px;
    font-weight: 400;
    position: relative;
    z-index: 2;
  }
  .description {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 400;
    position: relative;
    z-index: 2;
  }
}

.centered {
  text-align: center;
  justify-content: center;
}

swiper-container {
  display: block;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0;
}

swiper-slide {
  width: 100%;
  max-width: 508px;
  padding-left: 16px;
}

.feedback-card {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  z-index: 2;
  padding: 12px 16px;
  position: relative;
  margin-bottom: 20px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    transform: translate(-32px, -4px);
    background: $pink400;
    border-radius: 32px;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    border: 1px solid $black;
    border-radius: 32px;
    top: 0;
    left: 0;
  }
  .feedback-card-inner {
    position: relative;
    z-index: 2;
  }

  .header {
    display: flex;
    flex-direction: row;
    gap: 0 14px;
    .name-stars {
      .name {
        font-size: 20px;

        font-weight: 500;
      }
      .stars {
        color: $pink700;
        font-size: 32px;
        margin-top: 4px;
      }
    }
  }
  .description {
    margin: 16px 0 0;
    white-space: pre-line;
  }
}

.navigation {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 24px 32px;
  button {
    background-color: $pink400;
    background-repeat: no-repeat;
    background-position: center center;
    width: 90px;
    height: 90px;
    transition: all 0.3s ease-in;
    &:hover {
      background-color: $pink700;
    }
  }
  .next-btn {
    background-image: url('../assets/icons/btn-icon-next.svg');
  }
  .previous-btn {
    background-image: url('../assets/icons/btn-icon-prev.svg');
  }
}

footer {
  background: $pink400;
  position: relative;
  .content-wrapper {
    margin-top: 12px;
    padding-bottom: 28px;
    gap: 0 120px;
  }

  a {
    color: $black;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0 16px;
    &:hover {
      color: $pink700;
    }
  }
  .menu,
  .contacts {
    font-family: 'Montserrat', sans-serif;
    .title {
      font-weight: 500;
      margin-bottom: 48px;
    }
    .contact-item {

      & + .contact-item {
        margin-top: 32px;
      }
    }
    .link {
      a {
        color: $black;
        text-decoration: none;
        &:hover {
          color: $pink700;
        }
      }
      & + .link {
        margin-top: 32px;
      }
    }
  }
  .join-us {
    margin-left: auto;
    .title {
      font-weight: 500;
      max-width: 312px;
      margin: 0 auto;
      text-align: center;
    }
  }
  &:after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    background: url('../assets/images/footer-bg.png') no-repeat center center/cover;
    max-width: 230px;
    max-height: 195px;
    height: 100%;
    width: 100%;
  }
  .join-us {
    margin-top: 0;
    .title {
      margin-bottom: 32px;
    }
    .join-us-actions {
      margin-top: 0;
    }
  }
  .politics {
    padding-top:48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    a {
      font-size: 12px;
    }
  }
}

.timer-block {
  margin-bottom: 32px;
}

@media (max-width: 1024px) {
  .section-title {
    font-size: 48px;
  }
  .join-us-actions {
    display: flex;
    justify-content: center;
  }
  .banner-block {
    .content-wrapper {
      flex-direction: column;
    }
    .block-photo {
      justify-content: center;
      img {
        width: 100%;
      }
    }
  }
  .join-us {
    .join-us-actions {
      margin-top: 24px;
    }
  }
  .join-us,
  .join-us-adds,
  .benefits {
    flex-direction: column;
    .content-wrapper {
      flex-direction: column;
    }
    .join-us-actions {
      margin-top: 24px;
    }
  }
  .join-us,
  .join-us-adds,
  .course-for,
  .about-me,
  .more-info,
  .course-includes,
  .course-program,
  .results,
  .feedbacks,
  .questions {
    margin-top: 24px;
  }
  .benefits {
    .benefit-item {
      .title {
        font-size: 20px;
      }
      .description {
        font-size: 14px;
      }
    }
  }
  .view-item {
    .description {
      font-size: 14px;
      font-weight: 400;
    }
  }
  .course-for{
    .view-item {
      &:nth-child(odd) {
        .decor-element {
          top: 100%;
          right: 50%;
        }
      }
      &:nth-child(even) {
        .decor-element {
          top: 100%;
          left: 50%;
        }
      }
    }
  }
  footer {
    .timer-block {
      display: flex;
      justify-content: center;
      app-countdown-timer {
        display: inline-block;
      }
    }
    .content-wrapper {
      justify-content: center;
      gap: 48px 120px;

      .logo {
        order: 4;
      }
      .menu {
        order: 0;
      }
      .contacts {
        order: 1;
      }
      .join-us {
        width: 100%;
        order: 3;
        margin: 0 auto;
      }
    }
  }
}
@media (max-width: 768px) {
  .content-wrapper {
    margin-top: 24px;
  }
  .timer-block {
    margin-bottom: 0;
  }
  .section-title {
    font-size: 24px;
    .title-decoration {
      display: none;
    }
    .first-part:before {
      width: 50%;
      height: 24px;
      left: 20px;
      top: 4px;
    }
    .second-part:before {
      height: 24px;
      top: 4px;
      left: 0;
      right: 40px;
    }
  }
  .join-us-actions {
    button {
      background: $pink700;
      color: $white;
      font-size: 24px;
      font-weight: 500;
      padding: 20px 58px;
      width: 100%;
      max-width: 300px;
      .discount {
        background: $white;
        color: $pink700;
        box-shadow: 0 0 4px 0 #ff6ccccc;
        z-index: 1;
        right: 20px;
      }
    }
  }
  header {
    .start-info-block {
      font-size: 24px;
    }
    .subtitle {
      font-size: 24px;
      font-weight: 400;
    }
  }
  .banner-block.container {
    padding-top: 0;
    .content-wrapper {
      margin-top: 24px;
    }
    .banner-title {
      font-size: 32px;
    }
    .banner-subtitle {
      font-size: 24px;
      margin-top: 12px;
    }
    .content-wrapper .description {
      font-size: 16px;
      margin-bottom: 0;
    }
  }
  .reason-item-adds {
    margin-top: 24px;
  }
  .view-item {
    .decor-element {
      width: 100px;
      height: 64px;
    }
    &:nth-child(even) {
      margin-left: unset;
      .decor-element {
        background: url('../assets/icons/decor-element-mobile-2.svg') no-repeat center
          center/contain;
      }
    }
    &:nth-child(odd) {
      margin-right: unset;
      .decor-element {
        background: url('../assets/icons/decor-element-mobile-1.svg') no-repeat center
          center/contain;
      }
    }
    .icon {
      width: 40px;
      height: 40px;
      &:before {
        width: 52px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    .block-photo {
      margin: 32px 0;
      width: 100%;
      .photo {
        margin: 0 auto;
        max-width: 75vw;
        height: 320px;
      }
    }
  }
  .about-me {
    .join-us-actions {
      padding-bottom: 0;
    }
    .mobile-info {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-top: 24px;
      .info-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        .item-title {
          font-size: 20px;
          text-align: center;
          .text-medium {
            font-weight: 500;
          }
        }
      }
    }
    .photo {
      max-width: 284px;
      height: 268px;
      border-radius: 48px;
      width: 100%;
      transform: unset;
      margin: 0;
    }
    .info-block-title {
      font-size: 20px;
      align-self: flex-start;
    }
    .container {
      padding: 32px;
    }
    &:after {
      display: none;
    }
    .section-title {
      font-size: 32px;
    }
    .chips-list {
      gap: 12px;
      font-size: 14px;
      justify-content: center;
      flex-wrap: wrap;

      & + .chips-list {
        margin-top: 12px;
      }
    }
  }
  .more-info {
    .content-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      .view-item {
        margin-top: 32px;
        width: 100%;
      }
    }
    .decorated-image {
      margin: 32px 0 0;
      max-height: 75vh;
      &:before,
      &:after {
        display: none;
      }
    }
  }
  .course-includes {
    .wrapper.second-block,
    .wrapper.first-block {
      flex-direction: column;
      gap: 24px;
      align-items: center;
      .view-item {
        max-width: 100%;
        width: 100%;
        flex: unset;
      }
    }
  }
  .course-program {
    .program-title {
      font-size: 24px;
      padding: 18px 54px;
      border-radius: 16px;
      .inner-text {
        max-width: 224px;
      }
    }
    .pricing-wrapper {
      .old-price {
      font-size: 16px;
      }
      .new-price {
        font-size: 24px;
      }
    }
  }

  swiper-slide {
    max-width: unset;
    padding: 0 8px;
    box-sizing: border-box;
  }
  .questions-list .question .question-title {
    font-size: 20px;
    padding-right: 40px;
  }
  .results {
    .view-item {
      width: 100%;
      &:nth-child(odd) {
        .decor-element {
          top: 100%;
          right: 50%;
        }
      }
      &:nth-child(even) {
        .decor-element {
          top: 100%;
          left: 50%;
        }
      }
    }
  }
  footer {
    .content-wrapper {
      gap: 48px 64px;
    }
    .join-us-actions {
      button {
        margin-top: 24px;
      }
    }
    &:after {
      display: none;
    }
  }
}
