<router-outlet></router-outlet>

<footer>
  <div class="container">
    <div class="content-wrapper">
      <div class="logo">
        <a href="/">
          <img src="assets/icons/logo.svg" alt="logo" />
        </a>

      </div>
      <div class="menu">
        <div class="title">Меню</div>
        <div class="link">
          <a href="#about-me">Про мене</a>
        </div>
        <div class="link">
          <a href="#course-for">Про курс</a>
        </div>
        <div class="link">
          <a href="#feedbacks">Відгуки</a>
        </div>
        <div class="link">
          <a href="#questions">Часті питання</a>
        </div>
        <div class="link">
          <a href="#">Контакти</a>
        </div>
      </div>
      <div class="contacts">
        <div class="title">Контакти</div>
        <div class="contact-item">
          <a href="https://www.instagram.com/olgadepeshko/" target="_blank"  >
            <span class="social-icon">
              <img src="assets/icons/instagram-icon.svg" alt="instagram" />
            </span>
            <span class="social-name">Instagram</span>
          </a>
        </div>
        <div class="contact-item">
          <a href="https://t.me/oli4kadep" target="_blank">
            <span class="social-icon">
              <img src="assets/icons/telegram-icon.svg" alt="telegram" />
            </span>
            <span class="social-name">Telegram</span>
          </a>
        </div>

      </div>
      <div class="join-us">
        <div class="title">Встигни приєднатись та забрати бонуси</div>
        <div class="timer-block">
          <app-countdown-timer [targetDate]="targetDate"></app-countdown-timer>
        </div>
        <div class="join-us-actions">
          <button>
            <span>Приєднатись</span>
            <span class="discount">-80%</span>
          </button>

        </div>
        <div class="politics">
          <div class="link">
            <a routerLink="oferta-page">Публічна оферта</a>
          </div>
          <div class="link">
            <a href="assets/documents/public-offer.pdf" target="_blank" download>Політика конфіденційності</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</footer>

