<div class="container">
  <header>
    <div class="start-info-block">
      Старт: 12 травня
    </div>
    <div class="subtitle">
      Онлайн-Курс
    </div>
  </header>

  <section class="banner-block">
    <div class="banner-title">
      «Легка стрункість без дієт та відкатів»
    </div>
    <div class="banner-subtitle">
      <span class="decoration decoration-front"></span>
      Мінус 2–4 кг і зменшення об'ємів вдома за 14 днів.
      Перевірена методика без дієт і залу.
      <span class="decoration  decoration-back"></span>
    </div>
    <div class="description-with-images">
      <div class="text-block">
        <div class="description">
          Авторська методика від Ольги Депешко, нутріціолога та фітнес-моделі
        </div>
        <button>
          Приєднатись
          <span class="discount">-80%</span>
        </button>
      </div>
      <div class="images-block">
        <div class="secondary-image-container">
          <img src="assets/images/banner-img-small.png" alt="olga_depeshko">
        </div>
        <div class="main-image-container">
          <img src="assets/images/banner-img-main.png" alt="olga_depeshko">
        </div>
      </div>
    </div>
  </section>
  <section class="join-us">
    <div class="title">
      <div class="title-decoration"></div>
      <div class="title-text">
        Встигни приєднатись та забрати бонуси
      </div>
    </div>
    <div class="timer-block"></div>
    <div class="benefits">
      <div class="benefit-item">
        <div class="icon">
          <img src="assets/icons/present-icon.svg">
        </div>
        <div class="title">Тренування на мʼязи кору для тонкої талії</div>
        <div class="description">З мінімальним інвентарем для дому.</div>
      </div>
      <div class="benefit-item">
        <div class="icon">
          <img src="assets/icons/present-icon.svg">
        </div>
        <div class="title">ТОП-3 рецепти </div>
        <div class="description">Авторських простих солодощів без цукру та борошна</div>
      </div>
      <div class="benefit-item">
        <div class="icon">
          <img src="assets/icons/present-icon.svg">
        </div>
        <div class="title">Чек-ліст</div>
        <div class="description">“Секретні аналоги суперфудів для зниження ваги та міцного здоров'я”</div>
      </div>
    </div>
  <div class="join-us-actions">
    <button>
      <span>Приєднатись</span>
      <span class="discount">-80%</span>
    </button>
  </div>
  </section>
</div>
