<header class="container">
  <div class="start-info-block">Старт: {{ targetDate | date: 'dd MMMM' }}</div>
  <div class="subtitle">Онлайн-Курс</div>
</header>
<section class="banner-block container">
  <div class="banner-title">«Легка стрункість без дієт та відкатів»</div>
  <div class="banner-subtitle">
    <span class="decoration decoration-front"></span>
    Мінус 2–4 кг і зменшення об'ємів вдома за 14 днів. Перевірена методика без дієт і залу.
    <span class="decoration decoration-back"></span>
  </div>
  <div class="content-wrapper">
    <div class="info-block">
      <div class="description">
        Авторська методика від Ольги Депешко, нутріціолога та фітнес-моделі
      </div>
      @if (!isMobile) {
        <div class="join-us-actions">
          <button>
            <span>Приєднатись</span>
            <span class="discount">-80%</span>
          </button>
        </div>
      }
    </div>
    <div class="block-photo images-block">
      <div class="secondary-image-container">
        <img src="assets/images/banner-img-small.png" alt="olga_depeshko" />
      </div>
      <div class="main-image-container">
        <img src="assets/images/banner-img-main.png" alt="olga_depeshko" />
      </div>
    </div>
    @if (isMobile) {
      <div class="join-us-actions">
        <button>
          <span>Приєднатись</span>
          <span class="discount">-80%</span>
        </button>
      </div>
    }
  </div>
</section>
<section class="join-us container">
  <div class="section-title">
    <div class="title-decoration"></div>
    <div class="title-text">
      <div class="first-part">Встигни приєднатись та</div>
      <div class="second-part">забрати бонуси</div>
    </div>
  </div>
  <div class="content-wrapper centered">
    <div class="timer-block">
      <app-countdown-timer [targetDate]="targetDate"></app-countdown-timer>
    </div>
    <div class="benefits">
      <div class="benefit-item">
        <div class="icon">
          <img src="assets/icons/present-icon.svg" />
        </div>
        <div class="title">Тренування на мʼязи кору для тонкої талії</div>
        <div class="description">З мінімальним інвентарем для дому.</div>
      </div>
      <div class="benefit-item">
        <div class="icon">
          <img src="assets/icons/present-icon.svg" />
        </div>
        <div class="title">ТОП-3 рецепти</div>
        <div class="description">Авторських простих солодощів без цукру та борошна</div>
      </div>
      <div class="benefit-item">
        <div class="icon">
          <img src="assets/icons/present-icon.svg" />
        </div>
        <div class="title">Чек-ліст</div>
        <div class="description">
          “Секретні аналоги суперфудів для зниження ваги та міцного здоров'я”
        </div>
      </div>
    </div>
    <div class="join-us-actions">
      <button>
        <span>Приєднатись</span>
        <span class="discount">-80%</span>
      </button>
    </div>
  </div>
</section>
<section id="course-for" class="course-for container">
  <div class="section-title">
    <div class="title-decoration"></div>
    <div class="title-text">Для кого цей курс?</div>
  </div>
  <div class="content-wrapper">
    <div class="info-block">
      <div class="view-item">
        <div class="decor-element"></div>
        <div class="icon">
          <img src="assets/icons/reason-icon-1.svg" alt="reasonIcon" width="72" height="66" />
        </div>
        <div class="description">У тебе обмаль часу, не завжди виходить їздити у фітнес-центр</div>
      </div>
      <div class="view-item">
        @if (!isMobile) {
          <div class="decor-element"></div>
        }
        <div class="icon">
          <img src="assets/icons/reason-icon-2.svg" alt="reasonIcon" width="72" height="66" />
        </div>
        <div class="description">Ти пробувала худнути, але вага поверталася</div>
      </div>
      @if (isMobile) {
        <div class="block-photo">
          <div class="photo"></div>
        </div>
      }
      <div class="view-item">
        <div class="decor-element"></div>
        <div class="icon">
          <img src="assets/icons/reason-icon-3.svg" alt="reasonIcon" width="72" height="66" />
        </div>
        <div class="description">Харчуєшся хаотично та хочеш легко налагодити режим</div>
      </div>
      <div class="view-item">
        <div class="icon">
          <img src="assets/icons/reason-icon-4.svg" alt="reasonIcon" width="72" height="66" />
        </div>
        <div class="description">Потребуєш підтримки на шляху до тіла мрії</div>
      </div>
      @if (isMobile) {
        <div class="reason-item-adds">
          <div class="text">Це найшвидший маршрут від точки А до тіла мрії</div>
        </div>
      }
    </div>
    @if (!isMobile) {
      <div class="block-photo">
        <div class="photo"></div>
        <div class="reason-item-adds">
          <div class="text">Це найшвидший маршрут від точки А до тіла мрії</div>
        </div>
      </div>
    }
  </div>
</section>
<section id="about-me" class="about-me">
  <div class="container">
    <div class="section-title">
      <div class="title-decoration"></div>
      <div class="title-text">Про автора курсу</div>
    </div>
    <div class="content-wrapper">
      <div class="info-block">
        <div class="info-block-title">Ольга Депешко</div>
        @if (!isMobile) {
          <div class="info-list">
            <div class="list-item">
              <span class="icon"></span>Фітнес-тренер
              <span class="chips"><span class="text">12-річним досвідом</span></span>
            </div>
            <div class="list-item">
              <span class="icon"></span>Сертифікований нутриціолог
              <span class="chips"><span class="text">5-річним досвідом</span> </span>
            </div>
            <div class="list-item">
              <span class="icon"></span> Віце-чемпіонка України у категорії «Фітнес-Модель»
            </div>
          </div>
          <div class="chips-list">
            <span class="chips"><span class="text">Корекція фігури</span></span>
            <span class="chips"><span class="text">Силові тренування</span></span>
            <span class="chips"><span class="text">TRX</span></span>
          </div>
          <div class="chips-list">
            <span class="chips"><span class="text">МФР</span></span>
            <span class="chips"><span class="text">Реабілітація</span></span>
            <span class="chips"><span class="text">Танцювальний фітнес</span></span>
          </div>
        } @else {
          <div class="chips-list">
            <span class="chips"><span class="text">Корекція фігури</span></span>
            <span class="chips"><span class="text">TRX</span></span>
            <span class="chips"><span class="text">МФР</span></span>
            <span class="chips"><span class="text">Силові тренування</span></span>
            <span class="chips"><span class="text">Реабілітація</span></span>
            <span class="chips"><span class="text">Танцювальний фітнес</span></span>
          </div>
          <div class="mobile-info">
            <div class="info-item">
              <div class="item-title">Фітнес-тренер</div>
              <div class="chips"><span class="text">12-річним досвідом</span></div>
              <div class="photo photo-first"></div>
            </div>
            <div class="info-item">
              <div class="item-title">Сертифікований нутриціолог</div>
              <div class="chips"><span class="text"> 5-річним досвідом</span></div>

              <div class="photo photo-third"></div>
            </div>
            <div class="info-item">
              <div class="item-title">
                Віце-чемпіонка України у категорії <span class="text-medium">«Фітнес-Модель»</span>
              </div>
              <div class="photo photo-second"></div>
            </div>
          </div>
        }

        <div class="join-us-actions">
          <button>
            <span>Приєднатись</span>
            <span class="discount">-80%</span>
          </button>
        </div>
      </div>
      @if (!isMobile) {
        <div class="block-photo">
          <div class="photos-wrapper">
            <div class="photo photo-first"></div>
            <div class="photo photo-second"></div>
            <div class="photo photo-third"></div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
<section class="more-info container">
  <div class="section-title">
    <div class="title-decoration"></div>
    <div class="title-text">Стань стрункішою легко та без зусиль!</div>
  </div>
  <div class="content-wrapper">
    @if (!isMobile) {
      <div class="content-block image">
        <div class="decorated-image"></div>
      </div>
    }

    <div class="content-block">
      <div class="view-item xl">
        <div class="icon">
          <img src="assets/icons/action-icon.svg" alt="reasonIcon" width="72" height="68" />
        </div>
        <div class="description">Мінус на вагах і в об'ємах без виснажливих тренувань</div>
      </div>
      <div class="view-item xl">
        <div class="icon">
          <img src="assets/icons/apple-icon.svg" alt="reasonIcon" width="72" height="66" />
        </div>
        <div class="description">Без жорстких дієт</div>
      </div>
      @if (isMobile) {
        <div class="decorated-image"></div>
      }
      <div class="view-item xl">
        <div class="icon">
          <img src="assets/icons/reason-icon-1.svg" alt="reasonIcon" width="72" height="66" />
        </div>
        <div class="description">Збереження часу та коштів на фітнес-центр та тренера</div>
      </div>
      <div class="view-item xl">
        <div class="icon">
          <img src="assets/icons/health-icon.svg" alt="reasonIcon" width="72" height="66" />
        </div>
        <div class="description">Без шкоди для здоров’я та зривів</div>
      </div>
    </div>
  </div>
</section>
<section class="course-includes container">
  <div class="section-title">
    <div class="title-decoration"></div>
    <div class="title-text">Що входить до курсу?</div>
  </div>
  <div class="wrapper first-block">
    <div class="view-item large">
      <div class="description">Відео-уроки ранкової гімнастики з лімфљодренажним ефектом.</div>
    </div>
    <div class="view-item large">
      <div class="description">
        Доступ до Чату Курсу з Полем однодумців та Моєю особистою підтримкою 🔥
      </div>
    </div>
    <div class="view-item large">
      <div class="description">
        Аудіо та відео-уроки про основи стрункого харчування, складання харчової тарілки,
        рекомендації до фізичних навантажень та режиму дня
      </div>
    </div>
  </div>
  <div class="wrapper second-block">
    <div class="view-item">
      <div class="description">Загального меню️ на два тижні; зміни тут</div>
    </div>
    <div class="view-item">
      <div class="description">
        Мотивація щодня <br />
        + <br />
        домашні
      </div>
    </div>
  </div>
</section>
<section class="course-program container">
  <div class="section-title">
    <div class="title-decoration"></div>
    <div class="title-text regular">ПРОГРАМА КУРСУ</div>
  </div>
  <div class="content-wrapper">
    <div class="program program-base">
      <div class="program-title"><div class="inner-text">Тариф «СТАНДАРТ»</div></div>
      <div class="program-list">
        @for (listItem of baseProgramList; track listItem; let idx = $index) {
          <div class="list-item">
            <div class="step">{{ idx + 1 < 10 ? '0' : '' }}{{ idx + 1 }}</div>
            <div class="description">{{ listItem }}</div>
          </div>
        }
        <div class="pricing-wrapper">
          <div class="old-price">3450 грн</div>
          <div class="new-price">690 грн</div>
        </div>
        <div class="join-us-actions centered">
          <button>
            <span>Приєднатись</span>
            <span class="discount">-80%</span>
          </button>
        </div>
      </div>
    </div>
    <div class="program program-extended">
      <div class="program-title">
        <div class="inner-text">Тариф «ПРЕМІУМ»</div>
      </div>
      <div class="program-list">
        @for (listItem of baseProgramList; track listItem; let idx = $index) {
          <div class="list-item">
            <div class="step">{{ idx + 1 < 10 ? '0' : '' }}{{ idx + 1 }}</div>
            <div class="description">{{ listItem }}</div>
          </div>
        }
        <div class="extended-items-wrapper">
          @for (listItem of extendedProgramList; track listItem; let idx = $index) {
            <div class="list-item">
              <div class="step">{{ baseProgramList.length + idx + 1 }}</div>
              <div class="description">{{ listItem }}</div>
            </div>
          }
        </div>
        <div class="pricing-wrapper">
          <div class="old-price">8450 грн</div>
          <div class="new-price">1690 грн</div>
        </div>
        <div class="join-us-actions centered">
          <button>
            <span>Приєднатись</span>
            <span class="discount">-80%</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="join-us-adds container">
  <div class="section-title">
    <div class="title-decoration"></div>
    <div class="title-text">
      <div class="first-part">Встигни приєднатися та</div>
      <div class="second-part">отримати знижку й бонуси</div>
    </div>
  </div>
  <div class="content-wrapper centered">
    <div class="timer-block">
      <app-countdown-timer [targetDate]="targetDate"></app-countdown-timer>
    </div>
    <div class="benefits">
      <div class="benefit-item">
        <div class="icon">
          <img src="assets/icons/present-icon.svg" />
        </div>
        <div class="title">Тренування на мʼязи кору для тонкої талії</div>
        <div class="description">З мінімальним інвентарем для дому.</div>
      </div>
      <div class="benefit-item">
        <div class="icon">
          <img src="assets/icons/present-icon.svg" />
        </div>
        <div class="title">ТОП-3 рецепти</div>
        <div class="description">Авторських простих солодощів без цукру та борошна</div>
      </div>
      <div class="benefit-item">
        <div class="icon">
          <img src="assets/icons/present-icon.svg" />
        </div>
        <div class="title">Чек-ліст</div>
        <div class="description">
          “Секретні аналоги суперфудів для зниження ваги та міцного здоров'я”
        </div>
      </div>
    </div>
    <div class="join-us-actions">
      <button>
        <span>Приєднатись</span>
        <span class="discount">-80%</span>
      </button>
    </div>
  </div>
</section>
<section class="results container">
  <div class="section-title one-line">
    <div class="title-decoration"></div>
    <div class="title-text">
      <div class="first-part">Результати після курсу</div>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="info-block">
      @for (viewItem of resultsViewItemConfig; track $index) {
        <div class="view-item">
          @if ($index + 1 !== resultsViewItemConfig.length) {
            <div class="decor-element"></div>
          }

          <div class="icon">
            <img [src]="'' + viewItem.icon" alt="reasonIcon" width="72" height="66" />
          </div>
          <div class="description">
            {{ viewItem.text }}
          </div>
        </div>
      }
    </div>
  </div>
</section>
<section id="feedbacks" class="feedbacks container">
  <div class="section-title">
    <div class="title-decoration"></div>
    <div class="title-text">Відгуки</div>
  </div>

  <div class="content-wrapper">
    @if (isBrowser) {
      @if (!isMobile) {
        <swiper-container #swiperEl slides-per-view="2.5" space-between="32" class="mySwiper">
          @for (slide of slides; track $index) {
            <swiper-slide>
              <div class="feedback-card">
                <div class="feedback-card-inner">
                  <div class="header">
                    <img [src]="slide.photo" alt="avatar" class="avatar" />
                    <div class="name-stars">
                      <div class="name">{{ slide.name }}</div>
                      <div class="stars">★★★★★</div>
                    </div>
                  </div>
                  <div class="description">
                    {{ slide.text }}
                  </div>
                </div>
              </div>
            </swiper-slide>
          }
        </swiper-container>
      } @else {
        <swiper-container #swiperEl slides-per-view="1" space-between="4" class="mySwiper">
          @for (slide of slides; track $index) {
            <swiper-slide>
              <div class="feedback-card">
                <div class="feedback-card-inner">
                  <div class="header">
                    <img [src]="slide.photo" alt="avatar" class="avatar" />
                    <div class="name-stars">
                      <div class="name">{{ slide.name }}</div>
                      <div class="stars">★★★★★</div>
                    </div>
                  </div>
                  <div class="description">
                    {{ slide.text }}
                  </div>
                </div>
              </div>
            </swiper-slide>
          }
        </swiper-container>
      }
      @if (!isMobile) {
        <div class="navigation">
          <button class="previous-btn" (click)="prevSlide()"></button>
          <button class="next-btn" (click)="nextSlide()"></button>
        </div>
      }
    }
  </div>
</section>

<section id="questions" class="questions container">
  <div class="section-title">
    <div class="title-decoration"></div>
    <div class="title-text">Часті запитання</div>
  </div>
  <div class="content-wrapper">
    <div class="questions-list">
      @for (question of questions; track $index) {
        <div class="question">
          <div #questionTitle class="question-title" (click)="toggleAnswer(questionTitle)">
            {{ question.title }}
          </div>
          <div class="question-body">
            {{ question.description }}
          </div>
        </div>
      }
    </div>
  </div>
</section>
